* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

body > div {
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "nav section"
        "footer footer";
}

header {
    grid-area: header;
    background-color: grey;
    color: white;
    padding: 10px;
    margin: 5px;
}

h1 {
    font-size: 2em;
}

nav {
    grid-area: nav;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin-bottom: 5px;
}

nav ul li a {
    display: block;
    background-color: grey;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: white;
    color: red;
    border: 2px solid black;
}

section {
    grid-area: section;
    padding: 20px 40px;
    border-left: 2px solid black;
}

section h2 {
    margin-bottom: 15px;
}

section p {
    margin-bottom: 15px;
    text-align: justify;
}

footer {
